

 /* Small devices Mobile view */
 /* header part */
@media (max-width: 576px) { 
    .navbar{
        flex-direction: column;
    }
    .logo{
        padding-left: 50px;
    }
    
    .nav-iteams{
        flex-direction: column;
        margin-top: 50px;
        padding-left: 50px;
    }
    .btn-contact i{
        margin-left: 5px;
    }


    /*------------ hero part---------- */
   .hero{
    flex-direction: column;
   }
   .hero-text{
    width: 425px;
    margin-top: 200px;
   
   }
 }

/* Medium devices tablets View */
 /* header part */
@media (max-width: 768px) { 
    .navbar{
        flex-direction: column;
        padding: 20px 150px 20px 0;
    }
    .nav-iteams{
        flex-direction: column;
        margin-top: 50px;
    }

    /*------------ hero part---------- */
   .hero{
    flex-direction: column;
    margin-top: 50px;
   }
   .hero-text{
    width: 425px;
    margin-top: 200px;
   
   }
 }

 /* Large devices desktops view */
  /* header part */
@media (max-width: 1024px) { 
    .navbar{
        padding: 0 50px;
    }
    /* hero part */
    .hero{
        padding: 0 50px 0 50px;
    }
    
 }
  /* header part */
 @media (max-width: 1200px) {
    .navbar{
        padding: 0 70px;
    }
 }
